<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Back" color="primary" mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title slot="end">Formulario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="ion-margin">Nombre de usuario:</p>
  <ion-item>
    <ion-textarea placeholder="ingrese aquí"></ion-textarea>
  </ion-item>

  <p class="ion-margin">Nombre completo:</p>
  <ion-item>
    <ion-textarea placeholder="Enter more information here..."></ion-textarea>
  </ion-item>

  <p class="ion-margin">Correo electronico:</p>
  <ion-item>
    <ion-textarea placeholder="Enter more information here..."></ion-textarea>
  </ion-item>

  <p class="ion-margin">Contraseña:</p>
  <ion-item>
    <ion-textarea placeholder="Enter more information here..."></ion-textarea>
  </ion-item>

  <p class="ion-margin">Numero de contacto:</p>
  <ion-item>
    <ion-textarea placeholder="Enter more information here..."></ion-textarea>
  </ion-item>

  <ion-button routerLink="/inicio">
    Enviar
  </ion-button>
</ion-content>
